.selectBox
{
    border-radius:50px;
    border:1px solid #AAAAAA;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid grey;
    width: 20vw;
    height: 46px;
    font-family: inherit;
    font-weight: inherit;
}

.selectBox, .selectBox::-webkit-input-placeholder {
    font-size: 17px;
    font-family: inherit;
    color: grey;
    padding-left: 10px;
}

main > input  /* Children Selector */
{
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid grey;
    width: 20vw;
    height: 46px;
}

.link
{
    margin-bottom: 150px;
}

.left1
{
    margin: 15px 0 15px 0;
    margin-left: -120px;
}

.left2
{
    margin: 15px 0 10px 0;
    margin-left: -64px;
}

.option1
{
    margin-left: -103px;
}

.option2
{
    margin-left: -144px;
}

.option3
{
    margin-left: -144px;
    margin-bottom: 10px;
}